<div class="wrapper">
  <h1 class="title">Cadastrar</h1>
  <div class="col-md-9 mx-auto"></div>
  <app-stepper  [linearModeSelected]="false" #appStepper>
    <cdk-step [label]="'Informações Pessoais'">
      <app-info-pessoal></app-info-pessoal>
    </cdk-step>
    <cdk-step [label]="'Endereço'">
      Step 2
      <app-endereco></app-endereco>
    </cdk-step>
    <cdk-step [label]="'Segurança'">
      Step 3
      <app-conta></app-conta>
    </cdk-step>
  </app-stepper>
</div>

<div class="mb-3 form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1" />
  <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
