<div class="container mt-5">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item" *ngFor="let step of stepsItems; let i = index">
        <div class="d-grid">
          <button
            (click)="onClick(i)"
            [class.active]="selectedIndex === i"
            class="nav-link py-3 fw-bold"
          >
            {{ step.label }}
          </button>
        </div>
      </li>
    </ul>
    <div class="step-content">
      <ng-container *ngIf="selectedIndex !== null">
        <ng-template [ngTemplateOutlet]="getStepContent(selectedIndex)"></ng-template>
      </ng-container>
    </div>
  </div>
  