<label for="exampleInputEmail1" class="form-label">Email</label>
<input
  type="email"
  class="form-control"
  id="exampleInputEmail1"
  aria-describedby="emailHelp"
  placeholder="exemplo@dominio.com"
/>

<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Senha</label>
  <input
    type="password"
    class="form-control"
    id="exampleInputPassword1"
    placeholder="*Digite a sua Senha"
  />
</div>

<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label"
    >Confirmar sua Senha</label
  >
  <input
    type="password"
    class="form-control"
    id="exampleInputPassword1"
    placeholder="*Confirme sua senha"
  />
</div>